# Esercizio - pymongo

Provare a recuperare i dati da una collection di MongoDB, e visualizzarli in un dataframe Pandas.  
A questo punto, provare ad esplorare i dati utilizzando le proprietà dei dataframe come:

* .info()
* .describe()
* .head() e .tail()
* Filtrare i dati
* Salvare il dataframe risultante in un file CSV.

In [ ]:
# Installare le librerie necessarie
!pip install pymongo pandas

In [1]:
# Importare le librerie necessarie
import pandas as pd
from pymongo import MongoClient

In [2]:
# Definire la stringa di connessione
connection_string = "<connstring>"

# Creare una connessione al client MongoDB
client = MongoClient(connection_string)

# Specificare il database e la collezione
db = client['ITS_NoSQL']
collection = db['Spotify']

# Recuperare i dati dalla collezione e convertirli in un DataFrame Pandas
data = list(collection.find())
df = pd.DataFrame(data)

# Visualizzare il DataFrame
df.head()

,_id,Track,Album Name,Artist,Release Date,Spotify Playlist Count,Spotify Popularity,YouTube Views,Explicit Track
0,668eb42a6dd127ec62618855,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,2024-04-26,30716.0,92.0,8.427475e+07,0
1,668eb42a6dd127ec62618856,Not Like Us,Not Like Us,Kendrick Lamar,2024-05-04,28113.0,92.0,1.163470e+08,1
2,668eb42a6dd127ec62618857,i like the way you kiss me,I like the way you kiss me,Artemas,2024-03-19,54331.0,92.0,1.225991e+08,0
3,668eb42a6dd127ec62618858,Flowers,Flowers - Single,Miley Cyrus,2023-01-12,269802.0,85.0,1.096101e+09,0
4,668eb42a6dd127ec62618859,Houdini,Houdini,Eminem,2024-05-31,7223.0,88.0,7.737396e+07,1

## Pipeline di aggregazione

In [5]:
# Definisco la pipeline
pipeline = [
    {
        "$group": {
            "_id": "$Artist",
            "Track Count": {"$sum": 1}
        }
    }
]

# Eseguo la pipeline di aggregazione
aggregation_result = collection.aggregate(pipeline)

# Converto il risultato dell'aggregazione in una lista
result_list = list(aggregation_result)

# Creo un DataFrame pandas dal risultato dell'aggregazione
df = pd.DataFrame(result_list)

# Rinomina la colonna _id in Artist
df.rename(columns={"_id": "Artist"}, inplace=True)

df

                     Artist  Track Count
0                    Pierce            1
1                  Jay Rock            1
2         Yo Yo Honey Singh            3
3          Hana Cï¿½ï¿½ï¿½m            1
4                Terry Flow            1
...                     ...          ...
1995  official sound studio            1
1996             Mark Ambor            2
1997     Gabito Ballesteros            3
1998             PowerDress            1
1999                   KYLE            1

[2000 rows x 2 columns]